# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

# Vite
*.timestamp-*-*.mjs


# 系统文件
Thumbs.db

# 编辑器
.idea/
*.swp


# 环境变量（如果放在根目录）
.env
.env.local

# 根目录可能产生的临时文件
*.tmp

# 上传文件
uploads/*
!uploads/.gitkeep